<html ng-app="d3Demo">

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="bower_components/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
</head>

<body style="background-color:#EAEAEA">
    <div class="col-sm-6 col-md-4" style="width: 40.13%;padding-right: 8.4px;padding-left: 11px;">
        <div class="thumbnail" style="border-radius:0px">
            <div class="caption" ng-controller="drillController" ng-mouseover="open = true" ng-mouseleave="open = false">
                <div class="jumbotron" style="padding-top: 3px;padding-bottom: 1px;margin-left: -9px;margin-right: -8px;padding-left: 25px;margin-top: -8px;padding-right:0px;">
                    <p style="font-family: 'Ubuntu', sans-serif;font-size:18px;color:white;text-align:center">{{caption}}
                        <span class="pull-right">
                                <button type="button" style="border:none;background-color:#00A7D8;outline:none" class="btn btn-default btn-xs" aria-label="Left Align" ng-show="open">
                        <span class="glyphicon glyphicon-download" aria-hidden="true" style="color:white"></span>
                        </button>
                        <button type="button" style="border:none;background-color:#00A7D8;outline:none" class="btn btn-xs btn-default" aria-label="Left Align" ng-show="open" ng-click="openModal()">
                        <span class="glyphicon glyphicon-resize-full" aria-hidden="true" style="color:white"></span>
                            </button>
                        </span>
                    </p>
                </div>
                <nvd3 options='options' data='data' objectEquality="true" api="chartApi" ng-click="drill()"></nvd3>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>
